@model ConferenceWebLibrary.Models.Conference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.PictureURL" style="height:256px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConferenceTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Free)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Free)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price) ($)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Edit", "Update", new { id = Model.ID }) |
    <a asp-action="Index">Go back to all Conferences</a>
</div>